h2 {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.float-label {
  margin: 50px 0 50px 2%;
}

#cantidad {
  display: inline-block;
  width: 90%;
}

/* select */

.custom-select {
  display: inline-block;
  width: 50%;
  height: 50%;
  padding: 11px 12px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  appearance: none;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  margin: 50px 2%;
}

.custom-select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select option {
  padding: 8px 12px;
}

.boton-pagar {
  width: 20%;
  height: 20%;
  margin: 50px 2%;
}

.boton-pagar img {
  height: 100%;
}
