<!-- Ventana para seleccionar metodo de pago -->
<div class="h-full" *ngIf="!pagado">
  <h2 class="">Total: {{ total | currency }} </h2>

  <form [formGroup]="pagarForm">
    <div class="flex align-items-center">
      <p-floatLabel id="float-label">
        <input id="cantidad" type="number" pInputText formControlName="cantidad" #cantidad />
        <label for="cantidad">Cantidad a Pagar</label>
      </p-floatLabel>

      <select formControlName="metodoPago" class="custom-select" aria-placeholder="Cliente">
        <option *ngFor="let metodo of tiposPago" [value]="metodo">
          {{ metodo }}
        </option>
      </select>
    </div>

    <button class="boton-pagar" pButton (click)="pagar(cantidad.value)">Pagar</button>
  </form>

  <div class="flex justify-content-center align-items-center flex-column">
    <Label class="font-bold mb-2">Imprimir Ticket</Label>
    <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" [ngModel]="imprimir"
      (onOptionClick)="null"></p-selectButton>
  </div>
</div>

<!-- Ventana para cambio -->
<div *ngIf="pagado">
  <h1 class="text-center">Cambio: {{ cambio | currency }} </h1>

  <div class="text-center block">
    <button pButton (click)="cerrarVentana()">Cerrar</button>
  </div>

</div>
