<div class="card">
  <p-table #dt1 [value]="medicos" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 25]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['id','nombre','especialidad', 'telefono','fechaInicio', 'observaciones', 'direccion']" [styleClass]="selectedSize"
    styleClass="p-datatable-striped" [style]="{'padding': 'px'}">
    <ng-template pTemplate="caption" style="height: 5px;">
      <div class="flex" style="height: 50%;">
        <button pButton label="Borrar Filtros" class="p-button-outlined h-full" icon="pi pi-filter-slash"
          (click)="clear(dt1)"></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Buscar"
            [(ngModel)]="searchValue"  class="search"/>
        </span>
      </div>
    </ng-template>
    <!-- ... -->

    <ng-template pTemplate="header">
      <tr style="height: 100%;">
        <th style="max-width: 5px; width: 5%; ">
          <div class="flex align-items-center">
            Id
            <p-columnFilter field="id" display="menu">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <input type="number" pInputText [ngModel]="value" (input)="applyFilterGlobal($event, 'contains')"
                  class="p-inputtext">
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th style="max-width: 14%; width: 14%;">
          <div class="flex align-items-center">
            Nombre
            <p-columnFilter type="text" field="nombre" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 50px; width: 14%;">
          <div class="flex align-items-center">
            Especialidad
            <p-columnFilter type="text" field="especialidad" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="max-width: 14%; width: 14%;">
          <div class="flex align-items-center">
            Direccion
            <p-columnFilter type="text" field="direccion" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="max-width: 14%; width: 14%;">
          <div class="flex align-items-center">
            Telefono
            <p-columnFilter type="text" field="telefono" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="max-width: 14%; width: 14%;">
          <div class="flex align-items-center">
            Registro
            <p-columnFilter type="date" field="fechaInicio" display="menu"></p-columnFilter>
          </div>
        </th>
        <th class="flex align-items-center" style="max-width: 14%; width: 14%">
          Acciones
          <img src="assets/images/configuracion.png" style="height: 32px;margin-left: 5px;" alt="conf">
        </th>
      </tr>
    </ng-template>

    <!-- ... -->




    <ng-template pTemplate="body" let-doctor>
      <tr>
        <td>
          {{ doctor.id }}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle"> {{ doctor.nombre }} </span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle"> {{ doctor.especialidad }} </span>
        </td>
        <td>
          {{ doctor.direccion }}
        </td>
        <td>
          {{ doctor.telefono }}
        </td>
        <td>
          {{ doctor.fechaInicio | date: 'dd-MM-yyyy' }}
        </td>
        <td class="opciones">
          <button pTooltip="Editar" tooltipPosition="top" (click)="showEdit(doctor)">
            <img src="assets/images/lapiz.png" alt="editar icono">
          </button>
          <button pTooltip="Borrar" tooltipPosition="top" (click)="borrarConfirm($event, doctor)">
            <img src="assets/images/borrar.png" alt="editar icono">
          </button>
          <button pTooltip="Registro" tooltipPosition="top" (click)="showDialog(doctor)">
            <img src="assets/images/registro.png" alt="editar icono">
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No se encontraron Pacientes
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>


</div>
