:host {
  position: relative;
}

.pdf {
  flex: 1 0 30%;
  box-sizing: border-box;
}

.pdf:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.pdf:hover + .borrar-pdf {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.boton-eliminar {
  position: absolute;
  top: 25px;
  right: 10px;
  transition: all 300ms;
}

.boton-eliminar:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.pdf-container {
  position: relative;
}

.pdf-container img {
  width: 40%;
  transition: all 300ms;
}

.borrar-pdf {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 1999;
}

.borrar-pdf:hover {
  cursor: pointer;
}
