
.opciones {
  height: 100%;
  text-align: center;
}

.opciones button {
  display: inline-block;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: 3%;
  margin-right: 3%;
}

.opciones button:hover {
  cursor: pointer;
}

.opciones button:active {
  transform: scale(1.1, 1.1);
}

.opciones button img {
  height: 25px;
}

@media screen and (max-width: 500px) {
  .search {
    width: 50px;
    display: none;
  }
}
