:host {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.menu {
  display: none;
  height: 93%;
  margin-right: 10px;
  border: none;
  transition: all 300ms;
  background-color: transparent;
}

.menu:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.menu img {
  height: 100%;

}

.logo {
  height: 100%;
}

h1 {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  color: #ffffff;
}

.botones {
  position: absolute;
  right: 15px;
  height: 100%;
}

.cerrar-sesion, .ventas {
  height: 100%;
  padding: 4px 0px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  transition: all 300ms;
  margin-right: 15px;
}

.cerrar-sesion:hover, .ventas:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.cerrar-sesion img, .ventas img {
  height: 100%;
}

.ventas img {
  filter: invert(99%) sepia(37%) saturate(94%) hue-rotate(187deg) brightness(111%) contrast(94%);
}

p-sidebar {
  position: relative !important;
}

.boton-cerrar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 42px;
  border: none;
  border-radius: 200px;
  background-color: transparent;
  cursor: pointer;
}

.boton-cerrar:hover {
  background-color: #5b7bb2;
}

.boton-cerrar img {
  width: 100%;
  color: white;
}


@media screen and (max-width: 1350px) {
  :host {

  }
  .menu {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    display: none;
  }
}
