:host {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu {
  display: none;
  height: 80%;
  margin-right: 10px;
  border: none;
  transition: all 300ms;
  background-color: transparent;
}

.menu:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.menu img {
  height: 100%;

}

.logo {
  height: 100%;
}

h1 {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  color: #ffffff;
}


@media screen and (max-width: 1200px) {
  :host {

  }
  .menu {
    display: inline-block;
  }
}
