<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="grid-container">
    <div class="grid-item">
      <p-floatLabel>
        <input id="nombreProducto" type="text" pInputText formControlName="nombreProducto" [ngClass]="{'input-error': formulario.get('nombreProducto')?.invalid && (formulario.get('nombreProducto')?.dirty || formulario.get('nombreProducto')?.touched)}"/>
        <label for="nombreProducto">Nombre del Producto</label>
      </p-floatLabel>
    </div>
    <div class="grid-item">
      <p-floatLabel>
        <input id="nombreGenerico" type="text" pInputText formControlName="nombreGenerico"/>
        <label for="nombreGenerico">Nombre Genérico</label>
      </p-floatLabel>
    </div>
    <div class="grid-item">
      <p-floatLabel>
        <select class="custom-select">
          <option></option>
        </select>
        <label for="categoria">Categoría</label>
      </p-floatLabel>
    </div>
    <div class="grid-item">
      <p-floatLabel>
        <p-calendar id="fechaManufactura" appendTo="body" formControlName="fechaManufactura" dateFormat="dd/mm/yy"></p-calendar>
        <label for="fechaManufactura">Fecha de Manufactura</label>
      </p-floatLabel>
    </div>
    <div class="grid-item">
      <p-floatLabel>
        <p-calendar id="fechaExpiracion" appendTo="body" formControlName="fechaExpiracion" dateFormat="dd/mm/yy"></p-calendar>
        <label for="fechaExpiracion">Fecha de Expiración</label>
      </p-floatLabel>
    </div>
    <div class="grid-item">
      <p-floatLabel>
        <input id="codigoBarra" type="text" pInputText formControlName="codigoBarra"/>
        <label for="codigoBarra">Código de Barra</label>
      </p-floatLabel>
    </div>
    <div class="grid-item">
      <p-floatLabel>
        <input id="cantidad" type="number" pInputText formControlName="cantidad" [ngClass]="{'input-error': formulario.get('cantidad')?.invalid && (formulario.get('cantidad')?.dirty || formulario.get('cantidad')?.touched)}"/>
        <label for="cantidad">Cantidad</label>
      </p-floatLabel>
    </div>
    <div class="grid-item">
      <p-floatLabel>
        <input id="precioCompra" type="number" pInputText formControlName="precioCompra" [ngClass]="{'input-error': formulario.get('precioCompra')?.invalid && (formulario.get('precioCompra')?.dirty || formulario.get('precioCompra')?.touched)}"/>
        <label for="precioCompra">Precio de Compra</label>
      </p-floatLabel>
    </div>
    <div class="grid-item">
      <p-floatLabel>
        <input id="precioVenta" type="number" pInputText formControlName="precioVenta" [ngClass]="{'input-error': formulario.get('precioVenta')?.invalid && (formulario.get('precioVenta')?.dirty || formulario.get('precioVenta')?.touched)}"/>
        <label for="precioVenta">Precio de Venta</label>
      </p-floatLabel>
    </div>
    <div class="grid-item">
      <button pButton type="submit" label="Agregar"></button>
    </div>
  </div>

</form>

<p-toast></p-toast>
