<div class="form-container">

  <form [formGroup]="medicoForm" (ngSubmit)="onSubmit()" autocomplete="off">

    <!-- Nombre -->
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" required pInputText>
      <div *ngIf="medicoForm.get('nombre')?.touched && medicoForm.get('nombre')?.hasError('required')"
            class="label-danger">
        <p>El nombre es obligatorio.</p>
      </div>
      <div *ngIf="medicoForm.get('nombre')?.touched && medicoForm.get('nombre')?.hasError('pattern')"
            class="label-danger">
        <p>El nombre debe tener al menos 3 letras.</p>
      </div>
    </div>

    <!-- Especialidad -->
    <div class="form-group">
      <label for="especialidad">Especialidad:</label>
      <input type="text" id="especialidad" formControlName="especialidad" pInputText>
    </div>

    <!-- Direccion -->
    <div class="form-group">
      <label for="direccion">Direccion:</label>
      <input type="text" id="direccion" formControlName="direccion" pInputText>
    </div>

    <!-- Telefono -->
    <div class="form-group">
      <label for="telefono">Telefono:</label>
      <input type="text" id="telefono" formControlName="telefono" pInputText>
    </div>

    <div class="form-group">
      <label for="fechaRegistro">Fecha de Inicio:</label>
      <p-calendar formControlName="fechaInicio" inputId="fechaInicio" appendTo="body"></p-calendar>
    </div>


    <button class="submit-boton" type="submit"
    [disabled]="medicoForm.invalid" pButton>Crear Paciente</button>

  </form>
</div>
