:host {
  display: block;
  height: 100%;
}

.container {
  height: 100%;
}

.header {
  height: 10%;
  padding: 4px 7px;
  background-color: #3b5998;
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  width: 6%;
  height: 90%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #3b5998;
}

.contenido {
  display: inline-block;
  vertical-align: top;
  width: 94%;
  height: 85%;
}



@media screen and (max-width: 1200px) {

}
